<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.scg.craton.scgsurveyapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity
            android:name=".FlashScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="apps.scg.craton.scgsurveyapp.FIELDWORKER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuestionnaireActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="apps.scg.craton.scgsurveyapp.QUESTIONNARES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SurveyActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="apps.scg.craton.scgsurveyapp.SurveyActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandActivity"
            android:label="LandActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="apps.scg.craton.scgsurveyapp.LandActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AssetTypeActivity"
            android:label="AssetTypeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="apps.scg.craton.scgsurveyapp.AssetTypeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AssetSurveyActivity"
            android:label="AssetSurveyActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="apps.scg.craton.scgsurveyapp.AssetSurveyActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".services.SyncReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.AudioService"
            android:exported="false"/>

        <activity android:name=".SectionDActivity" />
        <activity android:name=".SectionCActivity" />
        <activity android:name=".SectionEActivity" />
        <activity android:name=".SectionFActivity"></activity>
    </application>

</manifest>